.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente en la página */
    background-color: #f0f0f0; /* Fondo claro */
  }
  
  .styled-link {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff; /* Azul */
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .styled-link:hover {
    background-color: #0056b3; /* Azul más oscuro */
    transform: scale(1.05);
  }